/* @@charset "UTF-8"; */

/* ***************************** la page d'Index  ******************/

body,html{
  padding: 0;
  margin: 0;
  background-image: url("../img/bs2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
   background-size: cover;

}

body{
  font-family: 'Raleway', sans-serif;
}
a,a:hover{
  text-decoration: none;
}

/* header */
.header{
  height: 70px;
  line-height: 70px;
  background: black;
  position: fixed;
  opacity: 1;
  
}
.header a:hover {
  text-decoration: none;
}


/* LOGO */
.logo{
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* fin LOGO */

/* Menu */
.menu{
  float: right;
}
.menu a{
  color: white;
  margin-right: 20px;
}
.menu a:hover{
  text-decoration: none;
  color: blue;
}
/* fin Menu */
.cookies{
  height: 50px;
  margin-bottom: -10px;
}
/* Banner */
.inner-ban{
  background-color: black;
  opacity: 0.8;
  padding-top: 50px;

}

.banniere a{
  color: white;
}

.inner-ban button{
  margin-top: 30px;
height: 50px;
width: 300px;
}
.inner-ban button:hover{
background-color: #3e8e41;
border-color: #27ae60;
}
.inner-ban button:active{
background-color: green;
box-shadow: 0 5px #666;
transform: translateY(4px);

}

.container-fluid{
  padding: 0;
}

.banniere{
  width: 100%;
  max-width: 100%;
  height: 800px;
  text-align: center;

}
.ban{
  width: 100%;
  max-width: 100%;

}
.ban img{
  width: 100%;
  max-width: 100%;
height: 900px;
}
.inner-ban{
  position: absolute;
  width: 100%;
  top: 20%;
  left: 0;
  text-align: center;
  padding-bottom: 140px;
  color: white;
  text-shadow: 1px 1px 20px #FFFFFF;
  font-size: 30px;
}
/*fin Banner */

/* inscription  */
.inscr{
height: 800px;
width: 100%;
padding: 50px;
background-size: 100%;
padding-top: 130px;
}

.inscription{
  
  background-color: white;
  padding: 5%;
  position: center;
  border-radius: 40px;
  opacity: 0.85;
}

/* fin inscription */

/* Formulaires */
.form-control input{
  border-radius: 40px;
  text-align: center;
  margin: 5%;
}
/* fin Formulaires */


/* Login */

.login{

background-size: 100%;

}
.login-popup-wrap{

height: 800px;
width: 100%;
border: 2px;
/* border-color: #638118; */
text-align: center;
padding-top:20%;
}

.login a{
  color: white;
}
.login button{
  margin-bottom: 20px;
}
.login-popup-heading{
  color: black;
  border-radius: 30px;
  margin-bottom: 30px;
}

.login form{
  border:5px;
  border-radius: 40;
  border-color: #638118;

}
.login2{

  background-color: white;

  width: 500px;
  background-color: white;
  padding-top: 20px;
  border-radius: 40px;
  opacity: 0.8;
}
/* fin Login */




/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top:70px; /* Stay at the top */
  left: 0;
  background-color: black; /* Black */
  opacity: 0.85;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}
.friend{
  height: 70px;

}
.friend a:hover{
  background-color: #666;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* ***************************** Fin de la page Index  ******************/

.HostContainer{
  height: 700px;
  background-color: black;
  opacity: 0.7;
  border-radius: 30px;
  color: white;
  margin-left: 210px;
  margin-top: 80px;

 position: absolute;
}



/* Footer */
footer{
  text-align: center;
  background-color: black;
  color: white;
  opacity: 0.8;
bottom: 100px;

}
/* fin Footer*/